@charset "UTF-8";
@import url("../font/Geogrotesque/stylesheet.css");
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("ttf");
}

body {
  margin: 0;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

a {
  text-decoration: none;
  color: #202020;
}

#first-page {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-page .cointainer-logotype {
  width: 100%;
  height: 200px;
  position: relative;
}

#first-page .cointainer-logotype div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -35%);
          transform: translate(-10%, -35%);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-animation-name: loaderMain1;
          animation-name: loaderMain1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#first-page .cointainer-logotype::after, #first-page .cointainer-logotype::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#first-page .cointainer-logotype::after {
  content: '👊';
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -webkit-animation-name: loaderMain2;
          animation-name: loaderMain2;
}

#first-page .cointainer-logotype::before {
  content: '✌️';
  -webkit-transform: translate(-80%, -20%);
          transform: translate(-80%, -20%);
  -webkit-animation-name: loaderMain3;
          animation-name: loaderMain3;
}

@-webkit-keyframes loaderMain1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  100% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
}

@keyframes loaderMain1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  100% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
}

@-webkit-keyframes loaderMain2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  100% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

@keyframes loaderMain2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  100% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

@-webkit-keyframes loaderMain3 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  100% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
}

@keyframes loaderMain3 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  100% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
}

#first-page .container-title h1 {
  font-family: "Geogrotesque Cyr", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #202020;
  margin: 0;
}

#first-page .container-title p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
  text-align: center;
  margin: 0;
}

#first-page .container-button button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #C5DAFC;
  border: none;
  margin: 30px;
}

#first-page .container-button button p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#pseudo-page {
  width: 100%;
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pseudo-page .app-title h1 {
  font-family: "Geogrotesque Cyr", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 50px 0 0 0;
}

#pseudo-page .app-title .stroke-title {
  width: 70px;
  height: 5px;
  background: linear-gradient(70deg, #FF86B9, #867CD6);
  border-radius: 50px;
  margin-left: 15px;
}

#pseudo-page .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pseudo-page .container-form .consignes {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
  text-align: center;
}

#pseudo-page .container-form .consignes span {
  font-weight: 500;
}

#pseudo-page .container-form .input-form-container {
  width: 250px;
  height: 50px;
  margin: 15px;
  border: 1px solid #202020;
  border-radius: 8px;
  position: relative;
}

#pseudo-page .container-form .input-form-container input {
  z-index: 10;
  width: 100%;
  height: 80%;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #202020;
  padding: 0 0 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#pseudo-page .container-form .input-form-container input:focus {
  outline: none;
}

#pseudo-page .container-form .input-form-container input:focus ~ p {
  top: 20px;
  font-size: 10px;
  -webkit-transition: .7s;
  transition: .7s;
  font-weight: 500;
}

#pseudo-page .container-form .input-form-container input:valid ~ p {
  top: 20px;
  font-size: 10px;
  -webkit-transition: .7s;
  transition: .7s;
  font-weight: 500;
}

#pseudo-page .container-form .input-form-container p {
  position: absolute;
  left: 20px;
  top: 50%;
  pointer-events: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #202020;
  margin: -11px 0 0 0;
  -webkit-transition: .7s;
  transition: .7s;
}

#pseudo-page .container-form .password-container {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#pseudo-page .container-form .password-container div {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #3F84F5;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#pseudo-page .container-form .password-container div input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#pseudo-page .container-form .password-container div input:checked ~ span {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #C5DAFC;
}

#pseudo-page .container-form .password-container div p {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3F84F5;
}

#pseudo-page .container-form .container-button button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #C5DAFC;
  border: none;
  margin: 30px;
}

#pseudo-page .container-form .container-button button p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#pseudo-page .unactive {
  display: none !important;
}

#pseudo-page #error {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
}

#pseudo-page .pop-up-verification {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px 15px;
  -webkit-box-shadow: 0px 0px 10px #DDDDDD;
          box-shadow: 0px 0px 10px #DDDDDD;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#pseudo-page .pop-up-verification p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
}

#pseudo-page .pop-up-verification h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #202020;
}

#pseudo-page .pop-up-verification div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#pseudo-page .pop-up-verification div button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #C5DAFC;
  border: none;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #3F84F5;
}

#pseudo-page .pop-up-verification div button:first-child {
  background-color: transparent;
  margin: 10px;
  padding: 0px 20px;
}

#pseudo-page .pop-up-verification div button:first-child p {
  font-size: 12px;
}

#type-selection-page {
  width: 100%;
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#type-selection-page .account-bubble {
  position: relative;
  width: 100%;
  height: 50px;
}

#type-selection-page .account-bubble div {
  position: absolute;
  top: 0;
  right: 30px;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#type-selection-page .account-bubble div p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#type-selection-page .app-title h1 {
  font-family: "Geogrotesque Cyr", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 50px 0 0 0;
}

#type-selection-page .app-title .stroke-title {
  width: 70px;
  height: 5px;
  background: linear-gradient(70deg, #FF86B9, #867CD6);
  border-radius: 50px;
  margin-left: 15px;
}

#type-selection-page .paragraph-score p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 40px 0;
}

#type-selection-page .paragraph-score p span {
  font-weight: 700;
}

#type-selection-page .container-button {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#type-selection-page .container-button button {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #C5DAFC;
  border: none;
  margin: 10px;
}

#type-selection-page .container-button button p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#type-selection-page .container-button button:nth-last-child(2), #type-selection-page .container-button button:last-child {
  background-color: transparent;
  opacity: .5;
  margin: 10px;
  padding: 0px 20px;
}

#type-selection-page .container-button button:nth-last-child(2) p, #type-selection-page .container-button button:last-child p {
  font-size: 12px;
}

#setting-page {
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#setting-page .account-bubble {
  position: relative;
  width: 100%;
  height: 50px;
}

#setting-page .account-bubble div {
  position: absolute;
  top: 0;
  right: 30px;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#setting-page .account-bubble div p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#setting-page .return-button {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202020;
  margin: 0 0 40px 40px;
}

#setting-page .app-title h1 {
  font-family: "Geogrotesque Cyr", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 50px 0 0 0;
}

#setting-page .app-title .stroke-title {
  width: 70px;
  height: 5px;
  background: linear-gradient(70deg, #FF86B9, #867CD6);
  border-radius: 50px;
  margin-left: 15px;
}

#setting-page .container-reglage {
  width: 100%;
  margin-top: 50px;
}

#setting-page .container-reglage .reglage {
  width: 80%;
  margin: 0 10%;
}

#setting-page .container-reglage .reglage .sound_range {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 5px;
  background: #3F84F5;
  outline: none;
  opacity: .8;
  width: 300px;
  margin-bottom: 50px;
}

#setting-page .container-reglage .reglage p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3F84F5;
  margin: 0 0 20px 0;
}

#setting-page .container-reglage .reglage .button-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#setting-page .container-reglage .reglage button {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #C5DAFC;
  margin: 5px;
  opacity: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#setting-page .container-reglage .reglage button p {
  font-size: 25px;
  margin: 0 !important;
}

#setting-page .container-reglage .reglage .active {
  opacity: 1;
}

#setting-page .mention-legale {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#setting-page .mention-legale h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #202020;
  margin: 0 0 20px 0;
}

#setting-page .mention-legale p {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #202020;
  margin: 10px 0 20px 0;
  text-align: center;
}

#play-section {
  width: 100%;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section .menu-play-container {
  margin-top: 20px;
  width: 90%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section .menu-play-container .difficulty-container {
  position: relative;
  min-height: 30px;
}

#play-section .menu-play-container .difficulty-container .difficulty-emojy {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section .menu-play-container .difficulty-container .other-difficulty {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 30px;
  height: 125px;
  background-color: #DDDDDD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#play-section .menu-play-container .difficulty-container .other-difficulty div {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section .menu-play-container .difficulty-container .disabled {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#play-section .menu-play-container .score-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #202020;
  margin: 0;
}

#play-section .menu-play-container .score-container p span {
  font-weight: 700;
}

#play-section .menu-play-container .return-container div {
  width: 25px;
  height: 25px;
  background-image: url(../image/icons/cross.png);
  background-position: center;
  background-size: contain;
}

#play-section #game-container {
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  background-image: linear-gradient(-45deg, #51dbb7, #c5dafc);
  width: 100%;
  height: 80%;
  position: relative;
}

#play-section #game-container .top-gradient, #play-section #game-container .bottom-gradient {
  width: 100%;
  height: 90px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
}

#play-section #game-container .top-gradient {
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#play-section #game-container .bottom-gradient {
  bottom: 0;
}

#play-section #game-container .container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#play-section #game-container #machine-play, #play-section #game-container #user-play {
  width: 150px;
  height: 150px;
  position: absolute;
}

#play-section #game-container #machine-play {
  top: 20%;
  left: 20%;
}

#play-section #game-container #user-play {
  bottom: 20%;
  right: 5%;
}

#play-section #game-container .win {
  font-size: 150px;
}

#play-section #game-container .loose {
  font-size: 90px;
}

#play-section #game-container #container-bonus {
  position: absolute;
  left: 5%;
  bottom: 10%;
}

#play-section #game-container #container-bonus .bonus {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #F4FFB9;
  -webkit-box-shadow: 0 0 10px #FDEB5B;
          box-shadow: 0 0 10px #FDEB5B;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section #game-container #container-bonus .bonus p {
  pointer-events: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #202020;
  margin: 0;
}

#play-section #game-container #container-bonus .bonus div {
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section #game-container #container-bonus .bonus div p {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #202020;
  margin: 0;
}

#play-section #game-container #animation-end-game {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: radial-gradient(white, rgba(255, 255, 255, 0));
  display: none;
}

#play-section #game-container #animation-end-game div {
  position: relative;
  width: 100%;
  height: 100%;
}

#play-section #game-container #animation-end-game div p {
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  font-family: "Geogrotesque Cyr", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
  -webkit-transition: .5s;
  transition: .5s;
}

#play-section #game-container #animation-end-game div .win {
  color: #51DBB6;
}

#play-section #game-container #animation-end-game div .loose {
  color: #db5158;
}

#play-section #game-container #animation-end-game div .equality {
  color: #515adb;
}

#play-section #game-container #animation-end-game div #text-end-game-1 {
  font-size: 60px;
  top: 30%;
  -webkit-animation: sildeEndGame 2s ease-in-out infinite;
          animation: sildeEndGame 2s ease-in-out infinite;
}

#play-section #game-container #animation-end-game div #text-end-game-2 {
  text-shadow: #202020 1px 1px, #202020 -1px 1px, #202020 -1px -1px, #202020 1px -1px;
  font-size: 50px;
  top: 35%;
  -webkit-animation: sildeEndGame1 1s;
          animation: sildeEndGame1 1s;
}

#play-section #game-container #animation-end-game div #text-end-game-3 {
  text-shadow: #202020 1px 1px, #202020 -1px 1px, #202020 -1px -1px, #202020 1px -1px;
  font-size: 40px;
  top: 40%;
  -webkit-animation: sildeEndGame2 1s;
          animation: sildeEndGame2 1s;
}

@-webkit-keyframes sildeEndGame1 {
  0% {
    font-size: 60px;
    top: 30%;
  }
  100% {
    font-size: 50px;
    top: 35%;
  }
}

@keyframes sildeEndGame1 {
  0% {
    font-size: 60px;
    top: 30%;
  }
  100% {
    font-size: 50px;
    top: 35%;
  }
}

@-webkit-keyframes sildeEndGame2 {
  0% {
    font-size: 60px;
    top: 30%;
  }
  100% {
    font-size: 40px;
    top: 40%;
  }
}

@keyframes sildeEndGame2 {
  0% {
    font-size: 60px;
    top: 30%;
  }
  100% {
    font-size: 40px;
    top: 40%;
  }
}

#play-section .container-button-to-play {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 150px;
}

#play-section .container-button-to-play div {
  width: 100%;
  height: 100%;
  position: relative;
}

#play-section .container-button-to-play div button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  border-radius: 50%;
  background-color: #C5DAFC;
  border: none;
}

#play-section .container-button-to-play div button p {
  font-size: 30px;
  margin: 0;
}

#play-section .container-button-to-play div button:first-child {
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

#play-section .container-button-to-play div button:last-child {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#score-panel-page {
  width: 100%;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#score-panel-page .account-bubble {
  position: relative;
  width: 100%;
  height: 50px;
}

#score-panel-page .account-bubble div {
  position: absolute;
  top: 0;
  right: 30px;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#score-panel-page .account-bubble div p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #3F84F5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}

#score-panel-page .app-title h1 {
  font-family: "Geogrotesque Cyr", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #202020;
  margin: 50px 0 0 0;
}

#score-panel-page .app-title .stroke-title {
  width: 70px;
  height: 5px;
  background: linear-gradient(70deg, #FF86B9, #867CD6);
  border-radius: 50px;
  margin-left: 15px;
}

#score-panel-page .paragraph-score p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #202020;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 40px 0;
}

#score-panel-page .paragraph-score p span {
  font-weight: 700;
}

#score-panel-page .score-pannel-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px #DDDDDD;
          box-shadow: 0px 0px 5px #DDDDDD;
  padding: 20px;
  max-width: 350px;
}

#score-panel-page .score-pannel-container table {
  max-width: 1000px;
}

#score-panel-page .score-pannel-container table tr {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border: none;
  border-radius: 20px;
}

#score-panel-page .score-pannel-container table tr td {
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #202020;
  font-size: 14px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  border-right: 1px solid #202020;
}

#score-panel-page .score-pannel-container table tr td:last-child {
  border: none;
}

#score-panel-page .score-pannel-container table tr td .user-img {
  height: 50px;
  width: 50px;
  border: 1px solid #202020;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#score-panel-page .score-pannel-container table tr td div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #DDDDDD;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: auto;
}

#score-panel-page .score-pannel-container table tr:nth-child(odd) {
  background-color: #FFFFFF;
}

#score-panel-page .score-pannel-container table tr:nth-child(even) {
  background-color: #DDDDDD;
}

#score-panel-page .score-pannel-container table tr:first-child td {
  font-size: 12px;
  font-weight: 500;
  border-right: none;
  text-align: center;
}

#play-section-realisme {
  width: 100%;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section-realisme .menu-play-container {
  margin-top: 20px;
  width: 90%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section-realisme .menu-play-container .score-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #202020;
  margin: 0;
}

#play-section-realisme .menu-play-container .score-container p span {
  font-weight: 700;
}

#play-section-realisme .menu-play-container .return-container div {
  width: 25px;
  height: 25px;
  background-image: url(../image/icons/cross.png);
  background-position: center;
  background-size: contain;
}

#play-section-realisme #game-container {
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
  width: 100%;
  height: 80%;
  position: relative;
}

#play-section-realisme #game-container .container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#play-section-realisme #game-container .container .video {
  width: 100%;
  position: relative;
}

#play-section-realisme #game-container .container .video .top-gradient-camera, #play-section-realisme #game-container .container .video .bottom-gradient-camera {
  width: 100%;
  height: 80px;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(white), color-stop(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), white, white, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
}

#play-section-realisme #game-container .container .video .top-gradient-camera {
  top: -20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#play-section-realisme #game-container .container .video .bottom-gradient-camera {
  bottom: -20px;
}

#play-section-realisme #game-container .container .video #video-container {
  width: 100%;
  height: 350px;
  position: relative;
}

#play-section-realisme #game-container .container .video #video-container .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#play-section-realisme #game-container .container .video #video-container #pose-video {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#play-section-realisme #game-container .container .video #video-container .result-IA-loose {
  -webkit-animation: end-result-loose .8s ease-in .4s;
          animation: end-result-loose .8s ease-in .4s;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#play-section-realisme #game-container .container .video #video-container .result-IA-win {
  -webkit-animation: end-result-win .8s ease-in .4s;
          animation: end-result-win .8s ease-in .4s;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#play-section-realisme #game-container .container .video #video-container #result-IA {
  position: absolute;
  top: 50%;
  display: none;
  z-index: 10;
}

#play-section-realisme #game-container .container .video #video-container #result-IA p {
  font-size: 150px;
  -webkit-animation: appear-ia-result-realisme 1s ease-in;
          animation: appear-ia-result-realisme 1s ease-in;
  z-index: 10;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@-webkit-keyframes end-result-loose {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -100%;
    left: -30%;
  }
}

@keyframes end-result-loose {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -100%;
    left: -30%;
  }
}

@-webkit-keyframes end-result-win {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 100%;
    right: -30%;
  }
}

@keyframes end-result-win {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 100%;
    right: -30%;
  }
}

@-webkit-keyframes appear-ia-result-realisme {
  0% {
    font-size: 1000px;
  }
  30% {
    font-size: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    font-size: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    font-size: 50px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes appear-ia-result-realisme {
  0% {
    font-size: 1000px;
  }
  30% {
    font-size: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    font-size: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    font-size: 50px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#play-section-realisme #game-container .container .video #video-container #pose-canvas {
  opacity: 0;
}

#play-section-realisme #game-container .container .video #video-container #pose-result {
  font-size: 100px;
  text-align: right;
}

#play-section-realisme #game-container .container .debug {
  display: none;
}

#play-section-realisme #game-container #load-model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section-realisme #game-container #load-model .container-load .container-logotype {
  width: 100%;
  height: 200px;
  position: relative;
}

#play-section-realisme #game-container #load-model .container-load .container-logotype div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-10%, -35%);
          transform: translate(-10%, -35%);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-animation: loader1 2s ease-in-out infinite;
          animation: loader1 2s ease-in-out infinite;
}

#play-section-realisme #game-container #load-model .container-load .container-logotype::after, #play-section-realisme #game-container #load-model .container-load .container-logotype::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #C5DAFC;
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

#play-section-realisme #game-container #load-model .container-load .container-logotype::after {
  content: '👊';
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -webkit-animation: loader2 2s ease-in-out infinite;
          animation: loader2 2s ease-in-out infinite;
}

#play-section-realisme #game-container #load-model .container-load .container-logotype::before {
  content: '✌️';
  -webkit-transform: translate(-80%, -20%);
          transform: translate(-80%, -20%);
  -webkit-animation: loader3 2s ease-in-out infinite;
          animation: loader3 2s ease-in-out infinite;
}

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  40% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  60% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  80% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes loader1 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  40% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  60% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  80% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes loader2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  40% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  60% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  80% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes loader2 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  40% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  60% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  80% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  40% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  60% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  80% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes loader3 {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  40% {
    -webkit-transform: translate(-80%, -20%);
            transform: translate(-80%, -20%);
  }
  60% {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
  80% {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#play-section-realisme #game-container #load-model .container-load p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  -webkit-animation: typing 3.5s steps(40, end) 1s infinite;
          animation: typing 3.5s steps(40, end) 1s infinite;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
}

#play-section-realisme .container-button-to-play {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 150px;
}

#play-section-realisme .container-button-to-play .position-button {
  width: 100%;
  height: 100%;
  position: relative;
}

#play-section-realisme .container-button-to-play .position-button .load-button button {
  -webkit-animation: border .8s ease 1 forwards;
          animation: border .8s ease 1 forwards;
  cursor: none;
}

#play-section-realisme .container-button-to-play .position-button div {
  opacity: .5;
  width: 82px;
  height: 82px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-box-shadow: 0 0 10px #AFAFAF;
          box-shadow: 0 0 10px #AFAFAF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#play-section-realisme .container-button-to-play .position-button div button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #C5DAFC;
  border: 0;
  position: relative;
  overflow: hidden;
  background: #C5DAFC;
  -webkit-box-shadow: 40px -40px 0 2px #C5DAFC, -40px -40px 0 2px #C5DAFC, -40px 40px 0 2px #C5DAFC, 40px 40px 0 2px #C5DAFC, 0 0 0 2px #C5DAFC;
          box-shadow: 40px -40px 0 2px #C5DAFC, -40px -40px 0 2px #C5DAFC, -40px 40px 0 2px #C5DAFC, 40px 40px 0 2px #C5DAFC, 0 0 0 2px #C5DAFC;
}

#play-section-realisme .container-button-to-play .position-button div button p {
  font-size: 30px;
  margin: 0;
}

#play-section-realisme .container-button-to-play .position-button div:first-child {
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

#play-section-realisme .container-button-to-play .position-button div:last-child {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@-webkit-keyframes border {
  0% {
    -webkit-box-shadow: 40px -40px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #C5DAFC;
            box-shadow: 40px -40px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #C5DAFC;
  }
  25% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  50% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  75% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  100% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 120px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 120px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
}

@keyframes border {
  0% {
    -webkit-box-shadow: 40px -40px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #C5DAFC;
            box-shadow: 40px -40px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #C5DAFC;
  }
  25% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -40px -40px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  50% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, -40px 40px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  75% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 40px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
  100% {
    -webkit-box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 120px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
            box-shadow: 0 -85px 0 3px #C5DAFC, -85px 0px 0 3px #C5DAFC, 0px 85px 0 3px #C5DAFC, 120px 40px 0 3px #C5DAFC, 0 0 0 3px #3F84F5;
  }
}
/*# sourceMappingURL=style.css.map */