#play-section{
    width:100%;
    height:90vh;

    position: relative;

    @include flex(flex-start);
    flex-direction: column;
    align-items: center ;
    .menu-play-container{
        margin-top:20px;
        width: 90%;
        
        z-index: 100;

        @include flex(space-between);
        align-items: center ;

        .difficulty-container{
            position: relative;
            min-height: 30px;
            .difficulty-emojy{
                position: absolute;
                top:0;
                left:0;

                width: 30px;
                height: 30px;
                background-color: $color_white;
                box-shadow: 0 0 10px #AFAFAF;
                border-radius: 50px;

                @include flex(center);
                align-items: center ;
                
            }
            .other-difficulty{
                position: absolute;
                top:0;
                left:0;

                border-radius: 50px;

                width: 30px;
                height: 125px;
                background-color: #DDDDDD;

                transition: 0.5s;

                div{
                    margin: 10px 0;
                    width: 30px;
                    height: 30px;

                    @include flex(center);
                    align-items: center ;
                }
            }
            .disabled{
               height: 0;
               opacity: 0;
               transition: 0.5s;
               
               
            }
           
        }
        .score-container{
            p{
                font-family: $font1;
                font-size: 14px;
                font-weight:300;
                color: $color_grey1; 
                
                margin:0;
                span{
                    font-weight:700;

                }
            }
        }
        .return-container{
            div{
                width: 25px;
                height: 25px;

                background-image: url(../image/icons/cross.png);
                background-position: center;
                background-size: contain;
            }
        }
    }

    #game-container{
        transition: background-image 0.5s linear;

        background-image: linear-gradient(
            -45deg,
            hsl(164, 66%, 59%),
            hsl(217, 90%, 88%)
            
        );
        width: 100%;
        height: 80%;

        position: relative;

        .top-gradient, .bottom-gradient{
            width: 100%;
            height: 90px;

            background: linear-gradient(0deg,  rgba(255,255,255,1),  rgba(255,255,255,0));

            position: absolute;
            left: 0;
        }
        .top-gradient{
            top:0;
            transform: rotate(180deg);
        }
        .bottom-gradient{
            bottom: 0;
        }

        //Realisme view
        .container {
            margin: 20px auto;
            display: flex;

            width: 100%;


            position: absolute;
            top:40%;
            left: 50%;
            transform: translate(-50%,-50%);

           
          }     

        //Gameplay du joueur
        #machine-play, #user-play{
            width: 150px;
            height: 150px;

            position: absolute;
        }
        #machine-play{
            top: 20%;
            left: 20%;            
        }
        #user-play{
            bottom: 20%;
            right: 5%;            
        }
        .win{
            font-size: 150px;
        }
        .loose{
            font-size: 90px;
        }

        #container-bonus{
            position: absolute;
            left: 5%;
            bottom: 10%;
            .bonus{
                position: relative;
                width: 60px;
                height: 60px;

                margin: 10px;

                background-color: #F4FFB9;
                box-shadow: 0 0 10px #FDEB5B;
                border-radius: 50%;

                @include flex(center);
                align-items: center ;
                p{
                    pointer-events: none;
                    font-family: $font1;
                    font-size: 30px;
                    font-weight:700;
                    color: $color_grey1; 
                    margin: 0;
                }
                div{
                    position: absolute;
                    right: 0%;
                    bottom: 0;

                    width: 20px;
                    height: 20px;
                    background-color: $color_white;
                    border-radius: 25px;

                    @include flex(center);
                    align-items: center ;
                    p{
                        font-family: $font1;
                        font-size: 10px;
                        font-weight:700;
                        color: $color_grey1; 
                        margin: 0;
                    }
                    
                }
            }
        }

        #animation-end-game{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
           display: none;

            div{
                position: relative;
                width: 100%;
                height: 100%;                
                p{
                    
                    width: 100%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    left:50%;

                    font-family: $font2;
                    font-weight:700;
                    text-transform: uppercase;
                    text-align: center;
                    color: $color_white;

                    z-index: 5;
                    
                    transition: .5s;
                }
                .win{
                    color: #51DBB6;
                }
                .loose{
                    color: #db5158;
                }
                .equality{
                    color: #515adb;
                }
                #text-end-game-1{
                    font-size: 60px;
                    top:30%;
                    animation: sildeEndGame 2s ease-in-out infinite;

                }
                #text-end-game-2{
                    text-shadow: $color_grey1 1px 1px,$color_grey1 -1px 1px,$color_grey1 -1px -1px,$color_grey1 1px -1px;
                    font-size: 50px;
                    top:35%;
                    animation: sildeEndGame1 1s;

                }
                #text-end-game-3{
                    text-shadow: $color_grey1 1px 1px,$color_grey1 -1px 1px,$color_grey1 -1px -1px,$color_grey1 1px -1px;
                    font-size: 40px;
                    top:40%;
                    animation: sildeEndGame2 1s;
                }
                   
                
               
              
               
            }
            @keyframes sildeEndGame1 {
                0%{
                    font-size: 60px;
                    top:30%;
                }
                100%{
                    font-size: 50px;
                    top:35%;
                }
            }
            @keyframes sildeEndGame2 {
                0%{
                    font-size: 60px;
                    top:30%;
                }
                100%{
                    font-size: 40px;
                    top:40%;
                }
            }
        }
    }
    

    .container-button-to-play{
        position: absolute;
        bottom: 0;
        left: 0;

        z-index: 15;

        width: 100%;
        height: 150px;
        div{
            width: 100%;
            height: 100%;
            position: relative;

            button{
                width: 80px;
                height: 80px;

                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -100%);
    
    
                box-shadow: 0 0 10px #AFAFAF;
    
                border-radius: 50%;
                background-color: $color_blue1;
    
                border: none;
    
                p{
                    font-size: 30px;
                    margin: 0;
                }

                &:first-child{
                    transform: translate(-150%, -50%);
                }
                &:last-child{
                    transform: translate(50%, -50%);
                }
            }
        }
       
    }

}