@mixin keyframefromto($name : 'loader', $from : 0, $mid : 0, $to : 0){
    
    @keyframes #{$name}{
      0% { transform: $from;}
      50% { transform: $mid;}
      100% { transform: $to;}
    }
  } 

@mixin blue_button{
    button{
        padding: 15px 20px;
        border-radius: 8px;
        background-color: $color_blue1;
        border: none;
        margin: 30px;

        p{
            font-family: $font1;
            font-size: 18px;
            font-weight: 500;
            color: $color_blue2;    
            width: max-content;
            margin: 0;
        }
    }   
}

@mixin title_app {
    h1{
        font-family: $font2;
        font-size: 50px;
        font-weight: 700;
        color: $color_grey1;    
        margin: 50px 0 0 0;
    }
    .stroke-title{
        width: 70px;
        height: 5px;
        background: $gradient;
        border-radius: 50px;
        margin-left: 15px;
    }
}


@mixin keyframefromtoloading($name : 'loader', $one : 0, $two : 0, $three : 0, $four : 0, $five : 0){
    
    @keyframes #{$name}{
      0% { transform: $one;}
      20% { transform: $two;}
      40% { transform: $three;}
      60% { transform: $four;}
      80% { transform: $five;}
      100% { transform: $one;}
    }
  } 