#play-section-realisme{
        width:100%;
        height:100vh;
    
        position: relative;
    
        @include flex(flex-start);
        flex-direction: column;
        align-items: center ;
        .menu-play-container{
            margin-top:20px;
            width: 90%;
            
            z-index: 100;
    
            @include flex(space-between);
            align-items: center ;
    
        
            .score-container{
                p{
                    font-family: $font1;
                    font-size: 14px;
                    font-weight:300;
                    color: $color_grey1; 
                    
                    margin:0;
                    span{
                        font-weight:700;
    
                    }
                }
            }
            .return-container{
                div{
                    width: 25px;
                    height: 25px;
    
                    background-image: url(../image/icons/cross.png);
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    
        #game-container{
            transition: background-image 0.5s linear;
    
            width: 100%;
            height: 80%;
    
            position: relative;
    
            
    
            //Realisme view
            .container {
                margin: 20px auto;
                display: flex;
    
                width: 100%;
    
    
                position: absolute;
                top:40%;
                left: 50%;
                transform: translate(-50%,-50%);
    
                .video{
                    width: 100%;
                    position: relative;
    
                    .top-gradient-camera, .bottom-gradient-camera{
                        width: 100%;
                        height: 80px;
                        z-index: 1;
                        background: linear-gradient(0deg,  rgba(255,255,255,0),  rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
            
                        position: absolute;
                        left: 0;
                    }
                    .top-gradient-camera{
                        top:0;
                        transform: rotate(180deg);
                    }
                    .bottom-gradient-camera{
                        bottom: 0;
                    }
    
                    #video-container {
                        width: 100%;
                        height: 350px;
    
                        position: relative;
                        
                      .layer {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                      }
                  
                      #pose-video {
                        transform: scaleX(-1);
                      }

                      //Animation des jeux de l'IA
                      .result-IA-loose{
                        animation: end-result-loose .8s ease-in .4s;
                        left:50%;
                        transform: translate(-50%, -50%);

                      }
                      .result-IA-win{
                        animation: end-result-win .8s ease-in .4s;
                        right:50%;
                        transform: translate(50%, -50%);

                      }

                      #result-IA{
                        position: absolute;
                        top:50%;
                        display: none;
                        z-index: 10;

                        p{
                            font-size: 150px;
                            animation: appear-ia-result-realisme 1s ease-in;

                            z-index: 10;
                            transform: rotate(0deg);

                        }
                      }
                      @keyframes end-result-loose {
                          0%{
                            top:50%;
                            left:50%;
                          }
                          100%{
                            top: -100%;
                            left:-30%;
                          }

                      }
                      @keyframes end-result-win {
                        0%{
                          top:50%;
                          right:50%;
                        }
                        100%{
                          top: 100%;
                          right:-30%;
                        }

                    }
                      @keyframes appear-ia-result-realisme {
                          0%{
                            font-size: 1000px;
                          }
                          30%{
                            font-size: 150px;
                            transform: rotate(0deg);

                          }
                          50%{
                            font-size: 150px;
                            transform: rotate(0deg);

                          }
                          100%{
                            font-size: 50px;
                            transform: rotate(360deg);

                          }

                      }

                  #pose-canvas{
                      opacity: 0;
                  }
                      #pose-result {
                        font-size: 100px;
                        text-align: right;
                      }
                    }
                }
                .debug {
                    display: none;
                }
              }   
              
              #load-model{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color_white;

                @include flex(center);
                align-items: center;
                .container-load{
                    .container-logotype{
                        width: 100%;
                        height:200px;
                        position: relative;
                        div{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-10%, -35%);
                
                            width: 70px;
                            height:70px;
                            border-radius: 100px;
                
                            background-color: $color_blue1;
                            box-shadow: 0 0 10px #AFAFAF;
                
                            @include flex(center);
                            align-items: center ;
                            font-size: 30px;
                
                            animation: loader1 2s ease-in-out infinite;
                            
                        }
                        &::after, &::before{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            
                            width: 70px;
                            height:70px;
                            border-radius: 100px;
                
                            background-color: $color_blue1;
                            box-shadow: 0 0 10px #AFAFAF;
                
                            @include flex(center);
                            align-items: center ;
                            font-size: 30px;
                        }
                        &::after{
                            content: '👊';
                            transform: translate(-50%, -90%);
                
                            animation: loader2 2s ease-in-out infinite;
                        } 
                        &::before{
                            content: '✌️';
                            transform: translate(-80%, -20%);
                
                            animation: loader3 2s ease-in-out infinite;
                        }
                        @include keyframefromtoloading(loader1, translate(-50%, -50%), translate(-50%, -90%), translate(-10%, -35%), translate(-80%, -20%),  translate(-50%, -90%) );
                        @include keyframefromtoloading(loader2, translate(-50%, -50%), translate(-80%, -20%), translate(-50%, -90%), translate(-10%, -35%),  translate(-80%, -20%));
                        @include keyframefromtoloading(loader3, translate(-50%, -50%), translate(-10%, -35%), translate(-80%, -20%), translate(-50%, -90%), translate(-10%, -35%));
                
                       
                    }
                    p{
                        font-family: $font1;
                        font-size: 14px;
                        font-weight: 500;
                        color: $color_grey1;  
                        text-align: center;  
                        margin: 0;
                        white-space: nowrap;
                        overflow: hidden; 
                        letter-spacing: .15em;
                        animation: typing 3.5s steps(40, end) 1s infinite,
                    }
                    @keyframes typing {
                        0% { width: 0 }
                        80% { width: 100% }
                      }
                }
                
              }    
    
        }
    
        .container-button-to-play{
            position: absolute;
            bottom: 0;
            left: 0;
    
            z-index: 15;
    
            width: 100%;
            height: 150px;
            .position-button{
                width: 100%;
                height: 100%;
                position: relative;
            
                .load-button{
                    button{
                        animation: border .8s ease 1 forwards;
                        cursor: none;
                    }  
                }
                div{
                    opacity: .5;
                    width: 82px;
                    height: 82px;
                    overflow: hidden;

                    position:absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    box-shadow: 0 0 10px #AFAFAF;

                    border-radius: 50%;

                    @include flex(center);
                    align-items: center;

                    button{
                        width: 80px;
                        height: 80px;
        
                        
      
                        border-radius: 50%;

                        background-color: $color_blue1;
            
                        border: 0;

                        position: relative;
                        overflow: hidden;

                        background: $color_blue1;
                        box-shadow: 40px -40px 0 2px $color_blue1, -40px -40px 0 2px $color_blue1, -40px 40px 0 2px $color_blue1, 40px 40px 0 2px $color_blue1, 0 0 0 2px $color_blue1;
                        p{
                            font-size: 30px;
                            margin: 0;
                        }
        
                        
                    }
                    &:first-child{
                        transform: translate(-150%, -50%);
                    }
                    &:last-child{
                        transform: translate(50%, -50%);
                    }
                }
               
            }
           
        }
    
    }

    @keyframes border{
        0% {
          box-shadow: 40px -40px 0 3px $color_blue1, -40px -40px 0 3px $color_blue1, -40px 40px 0 3px $color_blue1, 40px 40px 0 3px $color_blue1, 0 0 0 3px $color_blue1;
        }
        25% {
          box-shadow: 0 -85px 0 3px $color_blue1, -40px -40px 0 3px $color_blue1, -40px 40px 0 3px $color_blue1, 40px 40px 0 3px $color_blue1, 0 0 0 3px $color_blue2;
        }
        50% {
          box-shadow: 0 -85px 0 3px $color_blue1, -85px 0px 0 3px $color_blue1, -40px 40px 0 3px $color_blue1, 40px 40px 0 3px $color_blue1, 0 0 0 3px $color_blue2;
        }
        75% {
          box-shadow: 0 -85px 0 3px $color_blue1, -85px 0px 0 3px $color_blue1, 0px 85px 0 3px $color_blue1, 40px 40px 0 3px $color_blue1, 0 0 0 3px $color_blue2;
        }
        100% {
          box-shadow: 0 -85px 0 3px $color_blue1, -85px 0px 0 3px $color_blue1, 0px 85px 0 3px $color_blue1, 120px 40px 0 3px $color_blue1, 0 0 0 3px $color_blue2;
        } 
      }