<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Mode aventurier</title>
</head>
<body>
    <!--JS Script-->
    <script src="../js/animation/set_difficulty.js"></script>
    <script src="../js/adventure_mode/play_script.js"></script>
    <script src="../js/CRUD_database/verif_connexion.js"></script>

    <section id="play-section">
        <div class="menu-play-container">

            <div class="difficulty-container">
                <div id="set-difficulty" class="other-difficulty disabled">
                    <div></div>
                    <div id="position-1-difficulty" onclick="setGameDifficulty(1)">😯</div>
                    <div id="position-2-difficulty" onclick="setGameDifficulty(2)" >🤯</div>
                </div>
                <div id="selected-difficulty" class="difficulty-emojy" onclick="setViewDifficulty()">
                    😌
                </div>
               
            </div>
            <div class="score-container">
                <p>👨🏻‍🦰   Vous : <span id="user-score">0</span>   |   L’ordinateur : <span id="computer-score">0</span>    🖥</p>
            </div>
            <div class="return-container">
                <a href="type_selection.html">
                    <div></div>
                </a>
            </div>
        </div>
        <div id="game-container" class="play-container">    
            <div id="animation-end-game">
                <div>
                    <p id="text-end-game-3">You win !</p>
                    <p id="text-end-game-2">You win !</p>
                    <p id="text-end-game-1">You win !</p>
                </div>
            </div>

           <div class="top-gradient"></div>

            <div id="machine-play" class="loose"> </div>
            <div id="user-play" class="win"> </div>

            <div id="container-bonus" class="active">
                
               
            </div>

           <div class="bottom-gradient"></div>
        </div>

        <div class="container-button-to-play">
            <div>
                <button onclick="onPlayButton('rock')">
                    <p>👊</p>
                </button>
                <button onclick="onPlayButton('paper')">
                    <p>✋</p>
                </button>
                <button onclick="onPlayButton('scissors')">
                    <p>✌️</p>
                </button>
            </div>
            
        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>