<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Pseudo</title>
</head>
<body>
    <section id="pseudo-page">
        
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>

        <div class="container-form">
            <div class="input-form-container">
                <input type="text" required name="pseudo" />
                <p>Votre pseudo</p>
            </div>


            <div class="container-button">
                <a href="type_selection.html">
                    <button>
                        <p>Commençons</p>
                    </button>
                </a>
            </div>

        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>