<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Mode arcade</title>
</head>
<body>
    <section id="play-section">
        <div class="menu-play-container">
            <div class="difficulty-container">
                <div class="other-difficulty disabled">
                    <div></div>
                    <div>😯</div>
                    <div>🤯</div>
                </div>
                <div class="difficulty-emojy">
                    😌
                </div>
               
            </div>
            <div class="score-container">
                <p>👨🏻‍🦰   Vous : 2   |   L’ordinateur : 1   🖥</p>
            </div>
            <div class="return-container">
                <a href="type_selection.html">
                    <div></div>
                </a>
            </div>
        </div>
        <div class="play-container">    
           <div class="top-gradient"></div>

            

           <div class="bottom-gradient"></div>
        </div>

        <div class="container-button-to-play">
            <div>
                <button>
                    <p>👊</p>
                </button>
                <button>
                    <p>✋</p>
                </button>
                <button>
                    <p>✌️</p>
                </button>
            </div>
            
        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>