<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Settings</title>
</head>
<body>
    <section id="setting-page">
        <div class="account-bubble">
            <a href="">
                <div>
                    <p>👨🏻‍🦰</p>
                </div>
            </a>
        </div>
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>
        <div class="container-reglage">
            <a href="type_selection.html">
                <p class="return-button"> &lt; Retour au menu</p>
            </a>

            <div class="reglage">
                <p>🔊 Niveau sonore</p>
                <div>

                </div>
            </div>
            <div class="reglage">
                <p>👨🏻‍🦰 Mon personnage</p>
                <div class="butto-container">
                    <button class="active">
                        👨🏻‍🦰
                    </button>
                    <button>
                        💂🏼
                    </button>
                    <button>
                        👩🏼‍🚀
                    </button>
                    <button>
                        👩🏻‍🦳
                    </button>
                </div>
            </div>
        </div>

        <div class="mention-legale">
            <h2>© ShiFuMi 2022</h2>
            <p>
                Designé & développé par : 
                Charles Musial, Paul Fauconnier, Anthony Chambet, 
                Roman Tchitchinkine, Houssam Imany
            </p>
        </div>
    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>