<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Settings</title>
</head>
<body>
    <!--JS Script-->
    <script src="../js/animation/set_persomoji.js"></script>
    <script src="../js/CRUD_database/verif_connexion.js"></script>

    <section id="setting-page">
        <div class="account-bubble">
            <a href="">
                <div id="persomoji-menu">
                    <p><script>(localStorage.getItem('persomoji') != null)? document.write(localStorage.getItem('persomoji')) : document.write('👨🏻‍🦰')</script></p>
                </div>
            </a>
        </div>
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>
        <div class="container-reglage">
            <a href="type_selection.html">
                <p class="return-button"> &lt; Retour au menu</p>
            </a>

            <!--<div class="reglage">
                <p>🔊 Niveau sonore</p>
                <div>
                    <input class="sound_range" value="90" type="range" min="0" max="100" step="1"/>
                </div>
            </div>-->
            <div class="reglage">
                <p>👨🏻‍🦰 Mon personnage</p>
                <div class="button-container">
                    <button id="persomiji-1" onclick="ChangePerso('1', '👨🏻‍🦰')" class="active">
                        <p>👨🏻‍🦰</p>
                    </button>
                    <button id="persomiji-2" onclick="ChangePerso('2', '💂🏼')">
                        <p>💂🏼</p>
                    </button>
                    <button id="persomiji-3" onclick="ChangePerso('3', '👩🏼‍🚀')"> 
                        <p>👩🏼‍🚀</p>
                    </button>
                    <button id="persomiji-4" onclick="ChangePerso('4', '👩🏻‍🦳')">
                        <p>👩🏻‍🦳</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="mention-legale">
            <h2>© ShiFuMi 2022</h2>
            <p>
                Designé & développé par : 
                Charles Musial, Paul Fauconnier, Anthony Chambet, 
                Roman Tchitchaikine, Houssam Imany
            </p>
        </div>
    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>