
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Score</title>
</head>
<body>
    <script src="../js/CRUD_database/verif_connexion.js"></script>

    <section id="score-panel-page">
        <div class="account-bubble">
            <a href="">
                <div>
                    <p>👨🏻‍🦰</p>
                </div>
            </a>
        </div>
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>
        <div class="paragraph-score">
            <p>Votre score max. est <span>86 coups 😲</span></p>
        </div>

        <div class="score-pannel-container">
            <table cellSpacing="0" cellPadding="0">
                <tr>
                    <td>Placement</td>
                    <td>Pseudo</td>
                    <td>Score</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>#1</td>
                    <td>Super pseudo</td>
                    <td>86 coups</td>
                    <td>21/02/22</td>
                </tr>
                <tr>
                    <td>#2</td>
                    <td>Super pseudo</td>
                    <td>86 coups</td>
                    <td>21/02/22</td>
                </tr>
            </table>
        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>