
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Score</title>
</head>
<body>
    <script src="../js/CRUD_database/verif_connexion.js"></script>


    <script>
        var users;

        async function getUsers(){
          
            fetch('https://shifumi-1.herokuapp.com/api/user_data')
                .then((res) => {
                    return returnId = res.json();
                })
                .then((data) => users = data);
        }


        window.onload = function () {getUsers()};

        setTimeout(
            function (){
                var data = ["<tr>"+
                    "<td>Placement</td>"+
                    "<td>Pseudo</td>"+
                    "<td>Score</td>"+
                "</tr>"];
                for(let i=0; i<users.length; i++){
                    var f = i+1
                    data.push("<tr>"+
                            "<td># "+ f +" </td>"+
                            "<td>"+users[i].pseudo+"</td>"+
                            "<td>"+users[i].score+" coups</td>"+
                        "</tr>");
                }

                document.getElementById('tab').innerHTML = data
            }, 1000
        )
    </script>


    <section id="score-panel-page">
        <div class="account-bubble">
            <a href="">
                <div>
                    <p>👨🏻‍🦰</p>
                </div>
            </a>
        </div>
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>
        <div class="paragraph-score">
            <p>Votre score max. est <span><script>document.write(localStorage.getItem('score'))</script> coups 😲</span></p>
        </div>

        <div class="score-pannel-container">
            <table id="tab" cellSpacing="0" cellPadding="0">
                
               
                
                
            </table>
        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>