<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>ShiFuMi | Menu</title>
</head>
<body>
    <section id="type-selection-page">
        <div class="account-bubble">
            <a href="">
                <div>
                    <p>👨🏻‍🦰</p>
                </div>
            </a>
        </div>
        <div class="app-title">
            <h1>ShiFuMi</h1>
           <div class="stroke-title"></div>
        </div>
        <div class="paragraph-score">
            <p>Votre score max. est <span>86 coups 😲</span></p>
        </div>

        <div class="container-button">

            <button>
                <a href="arcade_view.html">
                    <p>🚀 Arcade</p>
                </a>
            </button>

            <button>
                <a href="aventure_view.html">
                    <p>🧳 Aventure</p>
                </a>
            </button>
            <button>
                <a href="realisme_view.html">
                    <p>👀 Réaliste</p>
                </a>
            </button>
            <a href="reglage.html">
                <button>
                    <p>📶 Paramètre</p>
                </button>
            </a>
            
            </a>
        </div>

    </section>
    
    <section id="more-than-500px">

    </section>

</body>
</html>